.doctor h1 {
  color: #0f2b51;
  font-size: 35px;
}
.doctor p {
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}
.doctor hr {
  margin: 20px auto;
  width: 100px;
}

.doctor-slider {
  /* position: relative; */
  width: 100%;
  margin: auto;
  text-align: center;
  /* overflow: hidden; */
}

.doctor-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 30px;
}

.doctor-card {
  background: #fff;
  width: 27%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 30px;
}

.doctor-card img {
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  /* margin-right: 20px; */
  border: 1px solid rgba(0, 0, 0, 0.233);
}

.doctor-card h4 a{
  font-size: 16px;
  /* color: #333; */
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #01579b;
}

.doctor-card h5 {
  font-size: 22px;
  color: #777;
  margin-top: 10px;
  /* letter-spacing: 1px; */
}
.doctor-card p {
  margin-top: 10px;
  color: #777;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
